In [1]:
import pandas as pd

In [2]:
df_population_raw = pd.read_csv('population_total.csv')

In [3]:
df_population_raw.head(3)

  country    year    population
0   China  2020.0  1.439324e+09
1   China  2019.0  1.433784e+09
2   China  2018.0  1.427648e+09

# Making the pivot table

In [ ]:
df_population_raw.drpona(inplace=True)

In [ ]:
df_pivot = df_population_raw.pivot(index='year',
                                   columns = 'country',
                                   values='population')

In [ ]:
df_pivot = df_pivot[['Unit']]