In [1]:
import pandas as pd

In [2]:
df_population_raw = pd.read_csv('population_total.csv')

In [3]:
df_population_raw.head(3)

  country    year    population
0   China  2020.0  1.439324e+09
1   China  2019.0  1.433784e+09
2   China  2018.0  1.427648e+09

# Making the pivot table

In [6]:
df_population_raw.dropna(inplace=True)

In [7]:
df_pivot = df_population_raw.pivot(index='year',
                                   columns = 'country',
                                   values='population')

In [8]:
df_pivot = df_pivot[['Mexico','United States','China','Russia','Argentina']]

In [9]:
df_pivot.head()

country      Mexico  United States        China       Russia   Argentina
year
1955.0   32350596.0    171685336.0  612241554.0  111355300.0  18789418.0
1960.0   37771859.0    186720571.0  660408056.0  119871700.0  20481779.0
1965.0   44123853.0    199733676.0  724218968.0  126503736.0  22159650.0
1970.0   51493565.0    209513341.0  827601394.0  130148653.0  23880561.0
1975.0   59607953.0    219081251.0  926240885.0  133804858.0  25865776.0